<div class="view_players_title"><p>Players</p></div>

<div class="view_players_content">
  <% for player in @players %>
  <div class="player_template">
    <div class="player_template_avatar"><img src="/images/user.png" alt=""></div>
    <div class=player_template_name><%=player.name%></div>
    <br>
    <div class="player_template_options"><a href="/players/<%=player.id%>">View Profile</a> | Delete Profile</div>
  </div>
  <% end %>

  </div>

<p><a href="/players/new">New Player</a></p>

<p><a href="/">Back</a></p>
