<div class="add_card_deck_name"><p>Register</p></div>

<form action="/players" method="post">
  <div class="new_player_content">
  <label for="player-name">Name: </label>
  <input type="text" id="player-name" name="name" value="" autofocus="autofocus" required maxlength="10">

  <label for="player-avatar">Avatar: </label>
  <input type="text" id="player-avatar" name="avatar" value="" placeholder="URL or FILE PATH">
  <input type="hidden" name="admin" value="0">

  </div>

  <input type="submit" name="" value="Register">
</form>
