<h1>CREATE PLAYER</h1>

<form action="/players" method="post">
  <label for="player-name">Name: </label>
  <input type="text" id="player-name" name="name" value="" autofocus="autofocus" required maxlength="10">

  <input type="hidden" name="deck_array" value="[]">
  <input type="hidden" name="games" value="[]">

  <input type="submit" name="" value="Register">
</form>
