<!-- <p>Register.</p>
<p>Create your decks.</p>
<p>Conquer.</p> -->

<div class="welcome_text"><p>Register. Create decks. Conquer.</p></div>

<!-- <p><a href="/players">Players</a></p>

<p><a href="/games/new">New Game</a></p> -->
