<div class="add_card_deck_name"><p>Create Deck</p></div>

<form action="/players/<%=@player.id%>" method="post">
  <div class="new_player_content">
    <label for="deck-name">Name: </label>
    <input type="text" id="deck-name" name="name" value="" autofocus="autofocus" required autocomplete="off">
    <input type="hidden" id="player-id" name="player_id" value="<%=@player.id%>">
  </div>
  <input type="submit" name="" value="Create Deck">
</form>
