<h1>CREATE DECK</h1>

<form action="/players/<%=@player.id%>" method="post">
  <label for="deck-name">Name: </label>
  <input type="text" id="deck-name" name="name" value="" autofocus="autofocus">

  <input type="hidden" id="player-id" name="player_id" value="<%=@player.id%>">




  <input type="submit" name="" value="Create Deck">
</form>
