<div class="welcome_text">
  <% if @game.status == @game.player1_id %>
    <p>WINNER: <%=@player1.name%></p>
  <% elsif @game.status == @game.player2_id %>
    <p>WINNER: <%=@player2.name%></p>
  <% elsif @game.status == 0 %>
    <p>DRAW</p>
  <% end %>
</div>

<div class="select"><a href="/">Play Again</a>

</div>
